<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <ul>
    <li>Argumentos: <%=data.args%></li>  
    <li>Plataforma: <%=data.plataforma%></li>  
    <li>Version de node: <%=data.version%></li>  
    <li>Memoria en uso RSS: <%=data.memoria.rss%></li>  
    <li>Path: <%=data.path%></li>  
    <li>Id del proceso: <%=data.processid%></li>  
    <li>Carpeta: <%=data.carpeta%></li>
    </ul>
</body>
</html>